# Ignore everything by default
*

# But keep these folders
!Assets/
!ProjectSettings/
!Packages/

# Allow all files inside these folders
!Assets/**
!ProjectSettings/**
!Packages/**


# Also keep the .gitignore file itself
!.gitignore
!README.md